<xml xmlns="http://www.w3.org/1999/xhtml"><variables/><block type="set_speed" id="glN!pO]%iD~c|_P=sFsr" x="63" y="-62"><field name="speed">5</field><next><block type="set_acceleration" id="p0SS?`a^E~-!SjKzhBT."><field name="acceleration">100</field><next><block type="move_joints" id="mE]-uF/XDMs^LY%tF8W~"><field name="i">-106.2</field><field name="j">-35.4</field><field name="k">-36.8</field><field name="l">72.2</field><field name="m">-180</field><field name="wait">TRUE</field><value name="btn_move"><block type="btn_move" id="-/=`v!c=BvyYeW%4Ifw2"/></value><value name="btn_edit"><block type="btn_edit" id="0gnMq5F#;fKr9yU?nKD_"/></value></block></next></block></next></block></xml>